@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap');

body{
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;

  .carousel{
      width: 100%;

      &.banner-carousel{
          width: 100%;
          height: 750px !important;

          .carousel-inner{
              height: 100%;

              .carousel-item{

                  img{
                      height: 750px !important;
                      object-fit: cover !important; 
                  }
              }

              .carousel-caption{
                  display: flex;
                  flex-direction: column;
                  text-align: left;

                  @media (max-width: 768px ){
                      left: 6% !important;

                  }


                  .caption-wrapper{
                      width: fit-content;

                      h3{
                          font-size: 46px;
                          font-weight: 500;
                          color: white;
                          background-color: rgba(0,170,255,.9);
                          padding: 10px;
                          text-wrap: nowrap;
                          line-height: 50px;
                          width: fit-content;
                          font-family: 'Oswald', sans-serif;
                          text-transform: uppercase;
                          border: none;
                          
                          @media (max-width: 1024px ){
                              font-size: 40px;
                              padding: 6px;
                          }
                          @media (max-width: 768px ){
                              text-wrap: wrap;
                          }
          
                      }
                      h6{
                          font-size: 20x;
                          font-family: 'Open Sans', sans-serif;
                          color: rgba(255, 255, 255, 0.619);
                          padding: 6px;
                          width: fit-content;
                      }
                  }
              }
          }


      }
      
      .carousel-inner{
          height: 100%;


          .carousel-item{
              img{
                  width: 100%;
              }

              &.third-section-carosuel-item{
                  max-width: 100%;
      
                  img{
                      height: 100%;
                      object-fit: cover;
                      
                  }
              }
          
          }

      }

      .carousel-indicators{
          padding-bottom: 4rem;
          button{
              color: white;
          }

      }
    


  }
  .carousel-controls {
      position: absolute;
      top: 4px;
      right: 10px; 
      z-index: 1000; 


      .carousel-control-prev {
          left: auto;
          right: 50px;
      }
      
      .carousel-control-next {
          right: 0;
      }
  
      .carousel-control-prev, .carousel-control-next {
          width: 40px;
          height: 40px;
          background-color: #868686;
          border: 1px solid #868686;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s ease;
          cursor: pointer;

              &:hover{
                  background-color: #0ea1fd;
                  border: 1px solid #0ea1fd;
              }
  } 
  
  }

  .text-primary{
      color: $primary;
  }

  .bg-primary{
      background-color: $primary;
  }

  .bg-secondary{
    background-color: $secondary;
    }

    .border-primary{
        border-color: $primary;
    }

.bg-secondary-alt{
    background-color: $secondary-alt;
}

.bg-light{
    background-color: #ededed;
}

.content{
    padding-top: 90px;

    min-height: calc(100vh - 339px);
}

  .fs-7{
      font-size: 14px;
  }

  .team-stat{
    position: relative;
    float: right;
    margin: 0 19px 0 0;

    .logo{
        position: absolute;
        left: -52px;
        top: -10px;
        width: 98px;
        height: 98px;
        overflow: hidden;

        
    }

    .score{
        width: 150px;
        height: 76px;
        background: #0af;
        text-align: right;
        padding: 0 20px 0 0;
        font-size: 60px;
        color: #fff;
        line-height: 70px;
        font-weight: 700;

        &::after{
            content: "";
            position: absolute;
            right: -11px;
            top: 0;
            border-top: 38px solid transparent;
            border-left: 11px solid #0af;
            border-bottom: 38px solid transparent;
        }
    }

    &.right{
        margin: 0 0 0 19px;
        .logo{
            left: auto;
            right: -52px;
        }

        .score{
            padding: 0 0 0 20px;

            &::after{
                content: "";
                left: -11px;
                right: auto;
                border-top: 38px solid transparent;
                border-right: 11px solid #0af;
                border-left: transparent;
                border-bottom: 38px solid transparent;
            }
        }
    }
  }
  
  .second-section{
    background-image: url(https://splash.stylemixthemes.com/soccer/wp-content/uploads/sites/3/2017/01/about_block_bg-150x150.png) !important;
    background-size: contain;
    }

    .aboutpage-card{
        background: url(https://splash.stylemixthemes.com/soccer/wp-content/uploads/sites/3/2017/01/about_block_bg-150x150.png);
        border-bottom: 5px solid #0ea1fd !important;
        text-align: center;
        align-items: center;
    }

    .team{
        .team-card{
            position: relative;
            transition: 0.5s all ease-in-out;

            .overflow-auto{
                margin: 0 auto;

                img {
                    width: 100%;
                    transition: 0.5s all ease-in-out;
                }
         
                &:hover img {
                    transform: scale(1.5);
                }
            }

            a{
                color: $body-color !important;

                &:hover{
                    color: $primary !important;
                }
            }
            .cardbox-bottom{
                color: white;
                
                .player-position{
                    height: 32px;
                    background-color: #3f4851;
                    padding: 0 10px;
                }

                .player-number{
                    position: relative;
                    float: right;
                    background: #0af;
                    color: #fff;
                    padding: 0 10px;
                    font-weight: 400;
                    margin: 0 0 0 13px;

                    &::before{
                        content: "";
    position: absolute;
    left: -13px;
    top: 0;
    border-top: 32px solid #3f4851;
    border-right: 11px solid transparent;
                    }

                    &::after{
                        content: "";
    position: absolute;
    left: -11px;
    top: 0;
    border-bottom: 32px solid #0af;
    border-left: 11px solid transparent;
                    }
                }

            }
            
            &:hover{
                
            }
        }
    }


  span{
      display: flex;
      height: 2.5px;
      width: 100%;
      position: relative;
      align-self: center;
      margin-block: 12px;

      &.awards-section-span{
          width: 25%;
          background-color: #0ea1fd;

      }
      &.first-section-span{
          width: 35px;
          height: 3.5px;
          margin-bottom: 20px;
          background-color: #0ea1fd;
      }
      &.first-section-span-1{
          background-color: #0ea1fd;
      }

  }



  .headings{
      font-size: 36px;
      color: black;
      line-height: 50px;
      text-transform: uppercase;
      letter-spacing: 0px;
      margin-bottom: 20px;

      &.main-heading-aboutpage{
          font-size: 56px;
          margin-block: 50px;

          @media (max-width: 768px ){
              font-size: 40px;
          }
      }
  }


  .fourth-section{
      .tab-content{

          .col{

              @media  (max-width: 768px){
                  margin-bottom: 40px;
              }

              @media  (max-width: 576px){
                  margin-bottom: 60px;
              }


          }


          .tab-wrapper{
              display: flex;
              justify-content: space-between;

              @media (max-width: 576px ){
                  display: flex;
                  flex-direction: column;
              }


              //NAVTABS
            .nav-tabs{
                  color: white;
                  border: #0ea1fd;
                  border-radius: 0px;
                  font-size: 16px;
                  justify-content: end;

                  @media (max-width: 576px ){
                      justify-content: start;

                  }
          
      
              .nav-item{

                          
                  .nav-link{

                      height: 100%;
                      display: flex;
                      align-items: center;
                      color: white;
                      padding: 12px 18px;
                      border: none;
                      border-radius: 0%;
                      background-color: rgb(82, 81, 81);

                      @media (max-width: 576px ){
                          padding: 8px 10px;
                          font-size: 14px;
                              
                      }

                      &:focus{
                          color: #0ea1fd;
                      }
              
                      &.active{
                          color: white;
                          background-color: #0ea1fd;
                      }
                  
                  }
                  
              }
            }
          
          }
      
          //NAVTABS
      }

  }




  .third-section{
      position: relative;
      background-color: #ededed;

      .cardbox-container{
          margin-top: 30px;

          .cardbox{
              display: flex;
              justify-content: space-between;
              flex-direction: column;
      
                  img{
                      border: 1px solid #b2b2b2;
                      margin-bottom: 30px;
                      width: 100%;

                      &.awards-section-image{
                          border: none;

                      }
      
                  }
                  .cardbox-title{
                      font-size: 20px;
                      font-weight: 600;
                      color: black;
                      margin-top: 15px;


                      &.players-section-cardbox-title{
                          color: white;
                      }

      
                  }
                  .cardbox-text{
                      font-size: 16px;
                      color: #868686;
                  }
                  .cardbox-bottom{
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      background-color: #394046;

                      h5{
                          font-size: 20px;
                          font-weight: 600;
                          color: white;
                          margin-bottom: 0px !important;
                          padding-left: 12px;
                      }
                      p{
                          font-size: 20px;
                          font-weight: 600;
                          color: white;
                          margin-bottom: 0px !important;
                          background-color: #0ea1fd;
                          text-align: right;
                          padding-right: 12px;
                      }

                  }

          }

      }


      &.players-section{
          position: relative;
          background-color: black;


          .cardbox{

              .cardbox-title{
                  color: white;
                  margin-top: 20px;
                  margin-bottom: 20px;
              }
  
              img{
                  border: none !important;
                  width: 100%;
                  padding: 0px !important;
  
              }
              .cardbox-bottom{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  background-color: #394046;

                  h5{
                      font-size: 20px;
                      font-weight: 600;
                      color: white;
                      margin-bottom: 0px !important;
                      padding-left: 12px;
                  }
                  p{
                      font-size: 20px;
                      font-weight: 600;
                      color: white;
                      margin-bottom: 0px !important;
                      background-color: #0ea1fd;
                      text-align: right;
                      padding-right: 12px;
                  }

              }
          }


      }

      &.awards-section{
          position: relative;
          background-color: white;


              .awards-section-cardbox{
                  align-items: center;
                  justify-content: center;

                  &:hover{
                      transition: all 0.9s ease-out;

                      .awards-section-image{
                          transform: translateY(-5%);
                          align-items: center;
                          justify-content: center;
                          object-fit: cover;
                      }

                      .awards-section-span{
                          width: 50%;
                      }
                      
                      .awards-section-cardbox-title{
                          color: #0ea1fd;
                      }
                  }
  
                  .awards-section-cardbox-body{
                      display: flex;
                      flex-direction: column;
  
                  }
  
              }
      }




  }


  .sections-formargins{
      padding-top: 70px;
      padding-bottom: 80px;
  

  }

  footer{
      color: white;
      background-color: black;
      .container{
          
          section{
              padding-top: 60px;
              padding-bottom: 60px;
      
              .row{

                  .col-12{
                      padding-left: 25px;
                      padding-left: 25px;


                      h6{
                          font-size: 24px;
                          font-weight: 700;
                          text-transform: uppercase;
                          margin-bottom: 30px;
                      }

                      .social-icons{

                          img{
                              background-color: #0ea1fd;
                              width: 40px;
                              margin: 12px;
                              margin-left: 0px;
                          }
                      }

                  }

              }
          }
      }
  }

  .banner-aboutpage{
      margin-block: 30px;

      .banner-wrapper{
          margin-bottom: 30px;
          justify-content: center;
          align-items: center;

          .banner-text-content-about{
              padding-right: 10px;

              p{
                  font-size: 18px;
                  margin-bottom: 30px;

                  @media (max-width: 768px ){
                      font-size: 14px;
                  }
              }

          }

          .banner-image-about{
              height: 350px;
              padding-left: 10px;

              @media (max-width: 768px ){
                  height: auto;
                  object-fit: contain;
                  padding-left: 0px;
              }

              img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;

                  @media (max-width: 768px ){
                      height: 70%;
                      object-fit: contain;
                  }
              }
          }
      }
  }


}

