     <!-- FOOTER -->
      <footer>

        <div class="container">
          <section>
                  <div class="row">

                  <div class="col-12 col-md-4 col-lg-5">
                      <div class="mb-5 mb-md-md-0">
                        <h6>About Our Team</h6>
                        <p>
                          Splash FC is one of the most powerful and titled teams in the 
                          FIFA World Ranking. The team played on the world scene for the first 
                          time in Italy in 1934 and finished third. 
                          The team proved itself as a strong 
                          contestant, not willing to yield to opponents regardless 
                          of their status.
                        </p>
                      </div>
                  </div>
      
                  <div class="col-12 col-md-4 col-lg-3">
                      <div class="mb-5 mb-md-md-0">
                        <h6>FOLLOW US</h6>
                        <div class="d-flex align-items-center mt-4">
                          <a href="#" class="text-black" target="_blank">
                            <img src="{{url}}/assets/images/facebook.svg" alt="" height="36" class="me-3" />
                          </a>
                          <a href="#" class="text-black" target="_blank">
                            <img src="{{url}}/assets/images/instagram-white.svg" alt="" height="36" class="me-3" />
                          </a>
                          <a href="#" class="text-black" target="_blank">
                            <!-- <img src="{{url}}/assets/images/twitter.svg" alt="" height="36" class="me-3" /> -->
                            <img src="{{url}}/assets/images/X.svg" alt="" height="36" class="me-3" />
                          </a>
                          <a href="#" class="text-black" target="_blank">
                            <img src="{{url}}/assets/images/tiktok.svg" alt="" height="36" class="me-3" />
                          </a>
                        </div>
                      </div>
                  </div>
      
                  <div class="col-12 col-md-4 col-lg-4">
                      <h6>Contact</h6>
                      <div class="contact-info">
                        <p><i class="fa fa-map-marker me-3"></i>Elwak Sports Stadium</p>
                        <p><i class="fa fa-phone me-3"></i>+233247000071, +233265435437</p>
                        <p><i class="fa fa-envelope me-3"></i>info@coba.com</p>
                      </div>
                      

                  </div>
                  </div>

          </section>
        </div>
      </footer>
      <!-- FOOTER -->