<nav class="navbar navbar-expand-lg w-100 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{url}}/assets/images/coba-logo.svg" class="mb-2" width="65" height="65"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa fa-bars text-white fs-3"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
         {% import '../links/_nav_links.njk' as nav %}
        {{
          nav.active(activeNav, url)
        }}

      </ul>
    </div>
  </div>
</nav>