nav.navbar{
  height: 90px;
  z-index: 1;
  background: rgba(0,0,0,.85);

  .navbar-brand{
      color: white;
      padding-bottom: 0px !important;

  }


  .navbar-nav{
    height: 90px;
    .nav-item{
        height: 90px;


        .nav-link{
            font-size: 16px;
            color: white;
            padding-inline-start: 30px;
            padding-inline-end: 30px;
            height: 100%;
            display: flex;
            align-items: center;
            border-bottom: 3px solid transparent;
            transition: all 0.5s ease;

            @media (max-width: 1024px ){
                padding-inline-end: 20px;
                padding-inline-start: 20px;
                
            }
            
            
        }

        &:hover, &:focus, &.active {

            .nav-link{
                border-bottom: 3px solid #0ea1fd;
                background-color: rgb(20, 20, 20);
            }
            
        }

        &.dropdown{
    
            .dropdown-toggle{
                &::after, &::before{
                    display: none !important;
                }
            }
            .dropdown-menu{
                background-color: rgba(0,0,0,.85);
    
                .dropdown-item{
                    color: white;
                    padding: 12px;
                    font-size: 14px;
    
                    &:hover{
                        background-color: #0af;
                        transition: all 0.5s ease-out;
                    }
                }
            }
        }
    }
  }

} 


.nav-tabs {
    background-color: transparent !important;
    border-bottom: transparent !important;
  
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    gap: 0.25rem;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    .nav-link {
      background-color: $secondary;
      border: 1px solid $secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.75rem 2.9rem;
      white-space: nowrap;
      color: white !important;
      border-radius: 0 !important;
      transition: all 0.3s ease-out;

  
      &:hover{
        color: $primary !important;
      }

      &.active {
        background-color: $primary;
        border-color: $primary;
        color: white !important;
      }
      
    }
  }