{% from "components/_widemodal.njk" import widemodal %}
{% set title='About' %}
{% set topNav = 'about' %}
{% extends "base.njk" %} 
{% block nav %}
{% endblock %}
{% block content %}
    <div class="content">
        <div>
            <!-- Banner About Page-->
            <section class="">
                <div class="container">
                    <div class="sections-formargins ">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-10">
                                <h1 class="fw-bold text-uppercase mb-4">About Club</h1>
                                <div class="align-items-center justify-content-center">
                                    <div class="row ">
                                        <div class="col-12 col-md-6">
                                            <div class=""> 
                                                <p>
                                                    Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly beside well and.
                                                </p>
                                                <p>
                                                    Spilled sensationally that sanctimoniously gawked dear misheard inside therefore lied and thus hello thankful wherever ducked flagrantly squinted tarantula including bridled caustic carelessly climbed flustered yikes hey crab hence a especial wow impolite up oh according complacent.
                                                </p>
                                                <p class="mb-0">
                                                    Thus so forlornly tamarin darn including clear or more and jeez wherever until connected proved.the cheerfully and fallibly.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="banner-image-about ps-2"> 
                                                <img src="{{url}}/assets/images/ballpitch.jpg" class="w-100 object-fit-contain" height="300" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Banner About Page-->
            <section class="bg-light">
                <div class="container">
                    <div class="sections-formargins align-items-center justify-content-center">
                        <h1 class="headings">Our Services</h1>
                        <p>
                            Spilled sensationally that sanctimoniously gawked dear misheard inside therefore lied 
                            and thus hello thankful wherever ducked flagrantly squinted tarantula including bridled
                            caustic carelessly climbed flustered yikes hey crab hence a especial wow impolite up oh according 
                            complacent thus so forlornly tamarin darn including clear or more and jeez wherever until connected 
                            proved. The cheerfully and fallibly.
                        </p>
                     
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            
                            <!--FIRST COLUMN-->
                            <div class="col">
                                <div class="aboutpage-card">
                                    <div class="p-4">
                                        <img decoding="async" src="{{url}}/assets/images/jersey.svg" width="75">
                                        <div class="mt-3 text-white">
                                            <h5 class="text-uppercase fw-bold">Best Players</h5>
                                            <p class="">Spilled sensationally that sanctimoniously gawked dear misheard inside </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--FIRST COLUMN-->
                                    
                            <!--SECOND COLUMN-->
                            <div class="col">
                                <div class="aboutpage-card">
                                    <div class="p-4">
                                        <img decoding="async" src="{{url}}/assets/images/basketball-court.png" width="112">
                                        <div class="mt-3 text-white">
                                            <h5 class="text-uppercase fw-bold">Training</h5>
                                            <p class="">Spilled sensationally that sanctimoniously gawked dear misheard inside </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--SECOND COLUMN-->
            
                            <!--THIRD COLUMN-->
                            <div class="col">
                                <div class="aboutpage-card">
                                    <div class="p-4">
                                        <img decoding="async" src="{{url}}/assets/images/coach.svg" width="75">
                                        <div class="mt-3 text-white">
                                            <h5 class="text-uppercase fw-bold">Best Coaches</h5>
                                            <p class="">Spilled sensationally that sanctimoniously gawked dear misheard inside </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--THIRD COLUMN-->
            
                            <!--FOURTH COLUMN-->
                            <div class="col">
                                <div class="aboutpage-card">
                                    <div class="p-4">
                                        <img decoding="async" src="https://splash.stylemixthemes.com/soccer/wp-content/uploads/sites/3/2017/01/about_feat_strategy.png" width="73">
                                        <div class="mt-3 text-white">
                                            <h5 class="text-uppercase fw-bold">Training Strategy</h5>
                                            <p class="">Spilled sensationally that sanctimoniously gawked dear misheard inside </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--THIRD COLUMN-->
                                          
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script></script>
  
{% endblock %}