{% from "components/_widemodal.njk" import widemodal %}
{% set title='Contact Us' %}
{% set topNav = 'contact' %}
{% extends "base.njk" %} 
{% block nav %}
{% endblock %}
{% block content %}
<div class="content">
    <!-- Banner About Page-->
    <section class="shadow">
        <div class="container">
            <div class="sections-formargins ">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <h1 class="fw-bold text-uppercase mb-">Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15883.471578823215!2d-0.1723822!3d5.586536!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf852555555553%3A0xf484cc387e700c5f!2sElwak%20Sports%20Stadium!5e0!3m2!1sen!2sgh!4v1709241409909!5m2!1sen!2sgh" class="w-100" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section class="sections-formargins">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="text-center">
                        <h1 class="fw-bold mb-2">Enroll</h1>
                        <div>
                            
                        </div>

                        <h5 class="lh-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab molestiae eveniet aperiam deleniti repellat dicta tempore quidem nihil magnam ipsum doloribus non, veritatis iusto illum incidunt consectetur necessitatibus, maiores quibusdam laudantium.</h5>

                        <button class="btn btn-primary mt-4 px-5 fw-bold">Enroll Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="second-section sections-formargins text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4">
                    <div>
                        <h5 class="fw-bold">CEDA OAK BASKETBALL ACADEMY</h5>

                        <p>
                            Do you have questions about our team or about our games? Send us an email and we’ll get in touch shortly, or phone between 8:00 and 18:00 Monday to Friday — we would be delighted to speak.
                            <br><br>
                            our details are kept strictly confidential as per our Privacy Policy.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-7">    
                    <div class="mb-4">
                        <textarea name="" id="" class="w-100 rounded-0 form-control" rows="8" placeholder="Message"></textarea>
                    </div>
                    <div class="row g-4">
                        <div class="col-4">
                            <input type="text" name="" id="" placeholder="Enter full name" class="form-control rounded-0">
                        </div>
                        <div class="col-4">
                            <input type="email" name="" id="" placeholder="Enter e-mail" class="form-control rounded-0">
                        </div>
                        <div class="col-4">
                            <input type="text" name="" id="" placeholder="Enter phone number" class="form-control rounded-0">
                        </div>
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-primary px-5">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block scripts %}
<script></script>
  
{% endblock %}