{% macro active(activePage='home', url = '..') %}
<li class="nav-item {%if activePage == 'home' %} active {% endif %}">
    <a class="nav-link" aria-current="page" href="home.html">HOME</a>
</li>
<li class="nav-item {%if activePage == 'about' %} active {% endif %}">
    <a class="nav-link" href="about.html">ABOUT</a>
</li>
<li class="nav-item dropdown {%if activePage == 'sportspress' %} active {% endif %}">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">SPORTSPRESS</a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="team.html">TEAM</a></li>
        <li><a class="dropdown-item" href="fixtures.html">FIXTURES</a></li>
    </ul>
</li>
<li class="nav-item d-none {%if activePage == 'news' %} active {% endif %}">
    <a class="nav-link" href="#">NEWS</a>
</li>
<li class="nav-item d-none {%if activePage == 'shop' %} active {% endif %}">
    <a class="nav-link" href="#">SHOP</a>
</li>
<li class="nav-item {%if activePage == 'contact' %} active {% endif %}">
    <a class="nav-link" href="contact.html">CONTACT</a>
</li>
{% endmacro %}